# Airtable
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_NAME=

# WordPress
WP_BASE_URL=
WP_API_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Mettre à "true" pour utiliser @sparticuz/chromium (déploiement AWS Lambda / Vercel)
USE_CHROMIUM_LAMBDA=
